[Unit]
Description=iot-env application service
After=syslog.target network.target
[Service]
TimeoutStartSec=180
SuccessExitStatus=143
User=root
Type=simple
ExecStart=/usr/local/bin/jvm/zulu8.58.0.13-ca-jdk8.0.312-linux_aarch32hf/bin/java -Xms32m -Xmx64m -server -jar /root/iotenv/iot-env.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target