[Unit]
Description=iot-env application service
After=syslog.target network.target
[Service]
TimeoutStartSec=180
SuccessExitStatus=143
User=root
Group=root
Type=simple
RemainAfterExit = no
RestartSec=5
Restart = always
StandardOutput=jornal
ExecStart=/usr/lib/jvm/jdk-21.0.5-lite/bin/java -Xms32m -Xmx64m -server -jar /opt/iot-env/quarkus-app/quarkus-run.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
